name: Python CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install pytest
      run: pip install pytest
    - name: Run script
      run: python test_basic.py
    - name: Test
      run: pytest main.py
